# Gemini 专用 KEY
API_KEY=

# 腾讯混元 API KEY
HUNYUAN_API_KEY=

# Supabase 配置
SUPABASE_URL=
SUPABASE_ANON_KEY=

# PayPal 配置
PAYPAL_CLIENT_ID=AcFaNkjc4NvhdC8l1AbgmETNuVb1s9AzxFv8v84MxdPiZ7cT3UDWO1gW2Ttcz3AQk9P-CUGjkcJjbxVf
PAYPAL_CLIENT_SECRET=EMBg0R5A3FU8pFTPQUum0RqroCuL4z7Wa26j7CUNOeULeX7qzwmF_HzOoq35_KJ4-aQDDQ_gXtnQxEKB
PAYPAL_MODE=live # sandbox 或 live
